<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DemoApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">JOBS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CLIENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">EMPLOYERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal">Register</button>
  <app-register></app-register>


  <footer class="footer">
    <div class="container">
      <span class="text-muted">© 2024 <a href="#">DemoApp</a> All Rights Reserved.</span>
    </div>
  </footer>
  